header {
    width: 100vw;
    background: #FFA53C;
    height: 80px;
    color: white;
    display: flex;
}

nav {
    padding: 10px;
    display: flex;
    justify-self: flex-end;

}

.nav-link {
    font-family: 'Lato';
    font-size: 25px;
    right: 0%;
    color: white;
    text-decoration: none;
}


