header {
    width: 100vw;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    overflow-y: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.add-profile {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    font-family: 'Lato';
    font-size: 25px;
    right: 0%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > img {
    position: absolute;
    top: 70px;
}

.wave {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    z-index: -1;
}

@media only screen and (min-width: 1000px) {
    .wave {
        top: -50px;
    }
}

@media only screen and (min-width: 1300px) {
    .wave {
        top: -90px;
    }
}
